.header {
  position:fixed;
  right: 0;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-right: 1rem;
  width: 100%;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  border-radius: 0.5rem;
}

.header-list-item {
  width: fit-content;
  font-weight: 600;
}

.header-list-item:hover {
  cursor:pointer
}

.selected-header-list-item {
  font-weight: 700;
}