.projects-container {
  position:relative;
  display:flex;
  overflow-x: auto;
  white-space: nowrap;
  
  width: auto;
  height: auto;
  position: relative;
  gap: 2em;

  padding:2em;
  margin-left: 2em;
  margin-right: 2em;
  transition: all 0.3s ease;

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;;
  scrollbar-width: none;

  border-radius: 3em;
  box-shadow: 10px 10px 15px rgba(31, 30, 37, 0.6);
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.projects-container-title {
  margin: 0;
  padding-left: 1em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.project-parent {
  position: relative;
  display: block;
  min-width: 22em;
  width: 22em;
  height: 16em;
  overflow: clip;
  border-radius: 2em;
  box-shadow: 10px 10px 10px rgba(31, 30, 37, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;
}

.project-parent:hover{
  transform: translateY(-2%);
}



.project-image {
  position: absolute;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;

  top: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.project-bottom {
  position: absolute;
  opacity: 1;
  bottom: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.project-title {
  position: absolute;
  width: fit-content;
  bottom: 2.6em;
  left: 50%;
  transform: translatex(-50%);
  font-size: 2em;
  font-weight: 700;
}

.tool-container {
  position:absolute;
  bottom: 1em;
  width: 100%;
}

.tool-image {
  
  border-radius: 0.7em;
  width: 3em;
  height: 3em;
  margin-left: 1em;
  object-fit: fit;
}

.project-date {
  position:absolute;
  height: fit-content;
  width: fit-content;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  opacity: 0.9;
  font-weight: 800;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  padding:0.3em;
  padding-bottom: 0.2em;
  padding-top: 0;
}

@media (prefers-color-scheme: light) {
  .project-parent {
    box-shadow: 5px 10px 20px rgb(18, 33, 55,0.4);
  }
  .projects-container {
      box-shadow: 5px 10px 20px rgb(18, 33, 55,0.4);
    }
  .project-bottom {
    background-color: #fff7f1;
  }
}
