.projects-container {
  position:relative;
  display: grid;
  margin-left:5%;
  width: 95%;
  height: 15em;
  max-width: 100em;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(23em, max-content));
  grid-gap: 2em;
}

.project-parent {
  position: relative;
  width: 20em;
  height: 15em;
  overflow: hidden;
  border-radius: 2em;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  transform: none;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.project-parent:hover{
  transform: translateY(-5%);
}

.project-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.project-bottom {
  position: absolute;
  opacity: 1;
  bottom: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.project-title {
  position: absolute;
  bottom: 5.3em;
  left: 50%;
  transform: translatex(-50%);
  font-weight: 700;
}

.tool-container {
  position:absolute;
  bottom: 1em;
  width: 100%;
}

.tool-image {
  
  border-radius: 0.7em;
  width: 3em;
  height: 3em;
  margin-left: 1em;
  object-fit: fit;
}

.maximized-project-background {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.maximized-project-parent {
  position: absolute;
  display:flex;
  top:5%;
  left: 50%;
  transform:translateX(-50%);

  width: 80%;
  min-height: 80%;
  height: auto;

  overflow: auto;
  border-radius: 2em;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}


.maximized-project-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25%;
  object-fit: cover;
}

.maximized-project-title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translatex(-50%);
  font-weight: 700;
}

.maximized-project-description {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  min-height: 20%;
  height: auto;
  transform: translatex(-50%);
  overflow:auto;
}

.maximized-project-tools-container {
  position: absolute;
  top: 25%;
  right: 0;
  margin: 1em;
}

.maximized-project-github {
  position: absolute;
  width: 2.4em;
  height: 2.4em;
  top: 0%;
  left:0;
  margin:1em;
  background-color: #242424;
  border-radius: 0.8em;
  border: 0.3em solid #242424;
}

.maximized-close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em;
  font-size: 2em;
  background-color: #2424249b;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  align-self: center;
  padding:0;
  color:rgba(255, 255, 255, 0.474);
  border-radius: 1em;
  cursor:pointer;
}
