.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in 100ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}


.page {
  position:absolute;
  width: 100%;
  height: auto;
}

.page-header {
  padding-left: 1em;
  margin-bottom: 1em;
}